.maindiv {
  padding: 5rem 10rem;
  background-color: #111111;
}

.heading {
  color: #fff;
  font-family: Inter;
  font-size: 66px;
  font-style: normal;
  font-weight: 500;
  text-align: justify;
  line-height: 147.523%;
  padding: 1rem 0rem;
}

.heading1 {
  color: #fff;
  font-family: Inter;
  font-size: 66px;
  font-style: normal;
  font-weight: 700;
  line-height: 162.523%;
  padding: 1rem 0rem;
}

.mainstack {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading2 {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 162.523%;
  opacity: 0.3;
}

.image1 {
  background: #e3b748;
  border-radius: 55px;
}
