.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navdiv {
  background-color: #111111;
  padding: 2.5rem 10rem;
}

.navtext {
  color: #fff !important;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 162.523%;
  background-color: #111111;
}
